
 <mat-card class="mt-3 mb-3 cardShadow">

  <mat-card class="text-center h4">
    Star Wars Characters Details
  </mat-card>

  <mat-card class="mt-2">
    <div class="table-responsive table table-striped">
      <table mat-table [dataSource]="dataSource" >

          <div *ngFor="let column of displayedColumns">
            <ng-container  matColumnDef="{{column}}">
              <th class="text-center" *matHeaderCellDef>{{ column }}</th>
              <td class="text-center" mat-cell *matCellDef="let row">{{ row[column] }}</td>
            </ng-container>

          </div>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </div>
  </mat-card>


</mat-card>
